@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

img,
button,
iframe,
a {
  user-select: none;
}

.fadeIn {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.myShadow {
  box-shadow: rgba(100, 100, 111, 0.082) 0px 7px 29px 0px;
}

input:user-invalid {
  border: 1.5px solid rgba(255, 0, 0, 0.416);
}

.homeBanner1 {
  background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(/docs/assets/images/slider1.jpg) center/cover no-repeat;
}

.homeBanner2 {
  background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(/docs/assets/images/slider2.jpg) center/cover no-repeat;
}

.homeBanner3 {
  background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(/docs/assets/images/slider3.jpg) center/cover no-repeat;
}

.homeBanner4 {
  background: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(/docs/assets/images/slider4.jpg) center/cover no-repeat;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.prod-card {
  position: relative;
}

.prod-card:hover .relative>.opacity-0 {
  opacity: 1 !important;
}

/* turn article into a hover group without adding group class everywhere */
.prod-card:hover .group-hover\:bg-\[\#ffe44d\] {
  background: #ffe44d !important;
}

.prod-card:hover .group-hover\:text-black {
  color: #000 !important;
}

.prod-card:hover .group-hover\:text-black\/80 {
  color: rgba(0, 0, 0, .8) !important;
}

.filter-active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  bottom: -5px;
  width: 10px;
  height: 10px;
  background: #fff;
}